{% extends 'home.html' %}

{% block content %}
  <h3>*Pet walking* connects dog owners with trusted local people who love to look after dogs

&#128054;</h3>
  <form method="post">
  <fieldset style="border:3px solid steelblue;
                   background-color:aliceblue;">
      <legend>How it works</legend>
      <ul>
          <li>1. Create a free profile </li>
          <li>2. Add your dog</li>
          <li>3. Create request</li>
          <li>4. Wait for call and meet up with a walker</li>
      </ul>
  </fieldset>
  </form>
{% endblock %}