{% extends 'home.html' %}
{% load static %}
{% block content %}
  <h2>My walks</h2>
  <form method="post">
  {% csrf_token %}
  <fieldset style="border:3px solid steelblue;
                   background-color:aliceblue;">
  <table>
    <legend>Detailed information</legend>
    <tr>
        <th>Dog's nickname</th>
        <th>Date</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Status</th>
    </tr>
        <tr>
            {% for request in requests %}
                {% if not request.available_for_booking %}
                    <td>{{ request.pet }}</td>
                    <td>{{ request.date }}</td>
                    <td>{{ request.price }}</td>
                    <td>{{ request.duration }}</td>
                    <td>{% if not request.available_for_booking %}<p>Reserved</p>{% endif %}
                </td>
                {% endif %}
        </tr>
            {% endfor %}
  </table>
  <br>
  </fieldset>
  </form>
{% endblock %}
