<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Sign Up - Pet walking</title>
  <meta name="description" content="Sign Up Page">
  <meta name="keywords" content="Book trusted, local, the best dog walkers in your neighborhood">
  <link rel="stylesheet" href="{% static 'css/project_style.css' %}">
</head>
<body>
  <header>
    <h1>Pet walking</h1>
    <a href="{% url 'base' %}">Home</a>
  </header>

  <main>
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
  </main>

  <footer>
    &copy; {{ current_date|date:"Y" }} Pet walking
  </footer>

{#  <script src="{% static 'js/app.js' %}"></script>#}
</body>
</html>