{#{% extends 'home.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#  <h2>My requests</h2>#}
{#  <form method="post">#}
{#  <fieldset style="border:3px solid steelblue;#}
{#                   background-color:aliceblue;">#}
{#<table>#}
{#   <legend>Detailed information</legend> {# add only owner's dogs#}
{#    <tr>#}
{#        <th>Dog's nickname</th>#}
{#        <th>Date</th>#}
{#        <th>Price</th>#}
{#        <th>Duration</th>#}
{#        <th>Status</th>#}
{#    </tr>#}
{#        <tr>#}
{#            {% for request in requests %}#}
{#                <td>{{ request.pet }}</td>#}
{#                <td>{{ request.date }}</td>#}
{#                <td>{{ request.price }}</td>#}
{#                <td>{{ request.duration }}</td>#}
{#                <td>#}
{#                    {% for status in status_of_booking %}#}
{#                        {% if status.0 == request.status_of_booking %}#}
{#                            {{ status.1 }}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </td>#}
{#        </tr>#}
{#            {% endfor %}#}
{#</table>#}
{#  </fieldset>#}
{#  </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
  <h1>Requests made by the walker:</h1>
  <ul>
    {% for request in walker.requests.all %}
      <li>{{ request.date }} - {{ request.pet.nickname }} - {{ request.price }}</li>
    {% endfor %}
  </ul>
{% endblock %}